@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 40px;
}

/* Category container */
.category {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Card styles */
.category-card {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.category-card:hover img {
  transform: scale(1.05);
  opacity: 0.2;
}

/* Hover overlay */
.category-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FCD5D7;
  bottom: -100%;
  left: 0;
  transition: bottom 0.5s ease;
  z-index: 1;
}

.category-card:hover::before {
  bottom: 0;
}

/* Heading inside card */
.category-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0b0909;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 6;
}

.category-card:hover h3 {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

/* Responsive Styles for Tablets and Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .category-card {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }
  
  .category-card h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .category-card {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  
  .category-card h3 {
    font-size: 16px;
  }
}
