@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/Poppins/Poppins-Bold.ttf');
  }
body {
    background:#F9F7F5;
    margin: 0;
    padding: 0;
  }
 
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .signup-form {
    background:transparent;
    padding: 40px;
    border-radius: 8px;
    flex: 1;
    max-width: 600px;
  }
  
  .signup-form h1 {
    font-size: 3em;
    font-weight:900;
    font-family: 'Poppins-Bold', sans-serif;
    margin-bottom: 40px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .form-group i {
    margin-right: 10px;
  }
  
  .form-group input {
    background: transparent;
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 0;
    font-family: 'Poppins-Light', sans-serif;
  }
  
  .form-checkbox {
    margin: 20px 0;
  }
  
  .form-checkbox input {
    margin-right: 10px;
  }
  
  .btn-register {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins-light', sans-serif;
  }
  
  .btn-register:hover {
    background-color: #0056b3;
  }
  
  .signup-image {
    margin-left: 200px;
    flex: 1;
  }
  
  .signup-image img {
    max-width: 70%;
  }

  @media (max-width: 600px) {
    .signup-container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: auto;
    }
  
    .signup-form {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .signup-image {
      margin-left: 0;
    }
  
    .signup-image img {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  